[submodule "P2-openClassRooms"]
	path = P2-openClassRooms
	url = https://github.com/Ax-07/P2-openClassRooms.git
[submodule "P3-openClassRooms"]
	path = P3-openClassRooms
	url = https://github.com/Ax-07/P3-openClassRooms.git
[submodule "P4-openClassRooms"]
	path = P4-openClassRooms
	url = https://github.com/Ax-07/P4-openClassRooms.git
[submodule "P5-openClassRooms"]
	path = P5-openClassRooms
	url = https://github.com/Ax-07/P5-openClassRooms.git
[submodule "P6-openClassRooms"]
	path = P6-openClassRooms
	url = https://github.com/Ax-07/P6-openClassRooms.git
[submodule "P8-openClassRooms"]
	path = P8-openClassRooms
	url = https://github.com/Ax-07/P8-openClassRooms.git
[submodule "P9-openClassRooms"]
	path = P9-openClassRooms
	url = https://github.com/Ax-07/P9-openClassRooms.git
[submodule "p10-openClassRoom"]
	path = p10-openClassRoom
	url = https://github.com/Ax-07/p10-openClassRoom.git
